*{
    color: rgb(248, 248, 248);
    user-select: none;
}

@font-face {
    font-family: 'bellotabold_italic';
    src: url('../fonts/bellota-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bellota-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tomorrowregular';
    src: url('../fonts/tomorrow-regular-webfont.woff2') format('woff2'),
         url('../fonts/tomorrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    
    display: flex;
    justify-content: center;
    background-image: url("../images/pizzaBackground.jpg");
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.title{
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(170, 150, 35);
    font-size: 5rem;
    font-family: 'bellotabold_italic', sans-serif;
    width: 100vw;
    padding-bottom: 40px;
    padding-top: 40px;
}

.title,.options,.placeholder{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.options{
    padding-top: 20px;
    gap: 90px;
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 2rem;
}
.options>*:hover{
    cursor: pointer;
}
.placeholder{
    padding-top: 50px;
    gap: 60px;
    height:max-content;
}
.image-zeff{
    border-radius: 40px;
    border: 2px solid rgb(170, 150, 35);
}

.zeff-text::after{
    content: "\a";
    white-space: pre;
}
.zeff-text{
    font-family: 'tomorrowregular', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.about-zeff{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home{
    text-decoration: underline;
}



.items{

    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-bottom: 30px;
}

.items>*{
    width:700px;
    height:300px;
    
    display: flex;
}
.pizza-img{
    width: 300px;
    height: 300px;
}
.pizza-text{
    margin-top: 20px;
    font-family: 'bellotabold_italic', sans-serif;
    font-size: 1.4rem;
}
.pizza-text>*{
    margin-bottom: 10px;
}

button{
    color:black;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}
button:hover{
    cursor: pointer;
}

.contact-info{
    display: flex;
    width: max-content;
    justify-content
    :space-evenly;
    width: 100vw;
    
}

.logo{
    height: 60px;
    width: 60px;
    color: rgb(248, 248, 248);
}

.adress-info, .phone-info, .time-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width: 300px;
    
}

.adress-info>*, .phone-info>*, .time-info>*{
    margin-bottom: 5px;
    font-family: 'bellotabold_italic', sans-serif;
}
.logo{
    margin-bottom: 40px;
    filter: invert(77%) sepia(0%) saturate(6677%) hue-rotate(180deg) brightness(94%) contrast(81%);
}



